<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div>
                        <span class="card-title">
                            <% if (postUser.avatar) { %>
                                <img class="circle responsive-img" src="<%= postUser.avatar %>">
                            <% } else { %>
                                <i class="small material-icons">perm_identity</i>
                            <% } %>
                            <span class="user-name"><%= postUser.name %></span>
                        </span>
                        <ul>
                            <div class="post">
                            <div class="post-title"><%= post.title %></div>
                            <div class="post-content"><%= post.post %></div>
                            <% if (post.user.equals(user && user._id)) { %>
                            <a href="/posts/<%= post._id %>/edit">Edit Post</a>
                            <% } %>
                            </div>
                            <div class="comments">
                                <img src="https://ontologicalgeek.com/wp-content/uploads/ds2_featured.jpg?w=640">
                                <% if (user) { %>
                                <form id="comments-ratings-section" method="POST" action="/posts/<%= post._id %>/comments">
                                    <label>Comment:</label>
                                    <input name="content">

                                    <label>Rating:</label>
                                    <select id="rating" name="rating"> 
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option selected value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <button class="btn waves-effect waves-light red right" type="submit">Comment<i class="material-icons left">add_circle</i></button>
                                </form>
                                <% } %>
                                <% if (post.comments.length) { %>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Comment</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let total = 0 %>
                                        <% post.comments.forEach(c => { %>
                                            <% total += c.rating %>
                                        <tr>
                                            <td><%= c.createdAt.toLocaleDateString() %></td>
                                            <td class="comment-content"><%= c.content %>
                                            <br>
                                            <div class="comment-buttons">
                                            <% if (c.user.equals(user && user._id)) { %>
                                                <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                                                    <!-- Value attribute is being set to the comment's current text -->
                                                    <input name="content" value="<%= c.content %>">
                                                    <button class="btn btn-small waves-effect waves-light red" 
                                                            type="submit">Edit Comment
                                                            <i class="material-icons right">send</i></button>
                                                </form>
                                                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                                    <button class="btn btn-small waves-effect waves-light red" 
                                                            type="submit">Delete Comment
                                                            <i class="small material-icons right">cancel</i></button>
                                                </form>
                                            </div>
                                            <% } %>
                                            </td>

                                            <td><%= c.rating %></td>
                                        </tr>
                                        <% }); %>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td><strong><%= (total / post.comments.length).toFixed(1) %></strong><td>
                                        </tr>
                                    </tbody>
                                </table>
                                <% } else { %>
                                    <h5>No Rating</h5>
                                <% } %>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const ratingEl = document.getElementById('rating');
    M.FormSelect.init(ratingEl);
</script>
<%- include('../partials/footer') %>