<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div>
                        <span class="card-title">
                            <% if (user.avatar) { %>
                                <img width="50" class="circle responsive-img" src="<%= user.avatar %>">
                            <% } else { %>
                                <i class="small material-icons">perm_identity</i>
                            <% } %>
                            <span class="user-name"><%= user.name %></span>
                        </span>
                        <ul>
                            <div class="post">
                            <div class="post-title"><%= post.title %></div>
                            <div class="post-content"><%= post.post %></div>
                            <a href="/posts/<%= post._id %>/edit">Edit Post</a>
                            </div>
                            <div class="comments">
                                <% if (post.user.equals(user && user._id)) { %>
                                <form id="comments-ratings-section" method="POST" action="/posts/<%= post._id %>/comments">
                                    <label>Comment:</label>
                                    <textarea name="content"></textarea>
                                    <label>Rating:</label>
                                    <select name="rating"> 
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <button class="btn waves-effect waves-light red right" type="submit">Comment<i class="material-icons left">add_circle</i></button>
                                </form>
                                <% } %>
                                <% if (post.comments.length) { %>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Comment</th>
                                            <th>Rating</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let total = 0 %>
                                        <% post.comments.forEach(c => { %>
                                            <% total += c.rating %>
                                        <tr>
                                            <td><%= c.createdAt.toLocaleDateString() %></td>
                                            <td class="comment-content"><%= c.content %>
                                            <br>
                                            <a href="/posts/<%= post._id %>/comments/edit">Edit Comment</a>
                                            </td>

                                            <td><%= c.rating %></td>
                                        </tr>
                                        <% }); %>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td><strong><%= (total / post.comments.length).toFixed(1) %></strong><td>
                                        </tr>
                                    </tbody>
                                </table>
                                <% } else { %>
                                    <h5>No Rating</h5>
                                <% } %>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>